* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ced2cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.123);
  gap: 1rem;
}

.placeShip {
  font-size: larger;
}

.spaces {
  display: flex;
  flex-direction: row;
}

.example {
  width: 20px;
  height: 20px;
  border: 1px black solid;
  background-color: rgb(54, 206, 40);
}

#axis {
  width: 10rem;
  font-size: 1rem;
}

.instructions p {
  font-size: xx-large;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.playerContainer,
.computerContainer {
  text-align: center;
}

#playerTitle,
#computerTitle {
  display: block;
  padding: 1rem;
}

.playerBoard,
.computerBoard {
  border: 2px solid black;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.box {
  border: 1px solid black;
}

.playerBoard .box[ship] {
  background-color: rgb(54, 206, 40);
}

.playerBoard .box:hover {
  cursor: pointer;
}

/* .setup means playerboard is completely set up  */
.box.setup:hover {
  cursor: not-allowed;
}

.box[ship]:hover {
  cursor: not-allowed;
}

.computerBoard .box.setup:hover {
  cursor: pointer;
}

.computerBoard .box.setup.hit {
  cursor: not-allowed;
}

.computerBoard .box.hit[ship] {
  background-color: rgb(54, 206, 40);
}

.computerBoard .box.hit {
  background-color: red;
}

.playerBoard .box.hit[ship] {
  transition-delay: 150ms;
  background-color: grey;
}

.playerBoard .hit {
  transition-delay: 150ms;
  background-color: red;
}

.computerBoard .box.setup.gameover:hover {
  cursor: not-allowed;
}

.reload {
  width: 125px;
  height: 50px;
  font-size: larger;
}

.color {
  background-color: rgb(54, 206, 40);
}

@media only screen and (max-width: 600px) {
  header {
    padding: .15rem;
    font-size: 1.5re;
  }

  .instructions {
    padding: .7rem;
    gap: .25rem;
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: #ced2cc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .placeShip {
    font-size: medium;
  }

  .boardWrapper {
    gap: .15rem;
  }

  header {
    position: relative;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .boardWrapper {
    display: flex;
    flex-direction: column;
  }

  .playerBoard,
  .computerBoard {
    border: 2px solid black;
    height: 250px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
}